<ion-header>
    <ion-navbar>
        <ion-title>My Favorites</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="favorites" padding>

    <ion-item-group *ngFor="let level of levels"
                    [hidden]="levels.length == 0">
        <ion-item-divider color="light">{{ level.title }}</ion-item-divider>
        <div *ngFor="let qns of level.questions">
            <ion-item><span class="english">{{ qns.question }}:</span> {{ qns.answer }}</ion-item>
        </div>
    </ion-item-group>

    <h3 [hidden]="levels.length != 0" text-center>
        You have no favorites!<br /><br />
        Tap on the <ion-icon name="heart-outline"></ion-icon> to favorite a question!
    </h3>

</ion-content>
