progress-bar {
 
    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
        background-color: #f4f4f4;
        border: 2px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
        overflow: auto;
    }
 
    .progress-inner {
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px 0px 5px 0px;
        border-radius: 20px;
        background-color: $primary;
        float: right;
    }
 
}