// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/difficulty-menu//difficulty-menu";
@import "../pages/favorites/favorites";
@import "../pages/home/home";
@import "../pages/level-menu/level-menu";
@import "../pages/quiz/quiz";
@import "../pages/quiz-result/quiz-result";

// Lao fonts: refer to http://www.laoscript.net/download/
@font-face {
    font-family: 'saysettha_web';
    src: url('../assets/fonts/saysettha_web.eot');
    src: url('../assets/fonts/saysettha_web.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/saysettha_web.woff') format('woff'), url('../assets/fonts/saysettha_web.ttf') format('truetype'), url('../assets/fonts/saysettha_web.svg#SaysetthaWeb') format('svg');
}

.lao-web {
    font-family: saysettha_web !important;
}