<ion-header>
    <ion-navbar>
        <ion-title>{{ difficulty }} {{ level }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="quiz" padding>
    <div class="subheader" text-center>
        <div class="title">
            <span>Question {{ currentQuestionIndex }} / {{ questions.length }}</span>
            <ion-icon class="icon" name="volume-up" (click)="pronounce()"></ion-icon>
        </div>
        <progress-bar *ngIf="timePerQuestion > 0" [timeLeft]="timeLeft" [timeGiven]="timePerQuestion"></progress-bar>
        <div class="question">
            <span class="word">{{ currentQuestion.question }}</span>

        </div>
        <ion-icon class="heart"
                  [class.favorited]="currentQuestion.favorited"
                  [name]="currentQuestion.favorited ? 'heart' : 'heart-outline'"
                  (click)="toggleFavorite()"></ion-icon>
    </div>

    <ion-card class="answers">
        <ion-list>
            <div *ngFor="let answer of answers">
                <div>
                    <button ion-item (click)="submit(answer.text)"
                            [class.correct]="answer.isCorrect" [class.wrong]="answer.isCorrect == false">
                        {{ answer.text }}
                    </button>
                </div>
            </div>
            <button ion-item (click)="submit('Don\'t know')">
                ຂ້ອຍບໍ່ຮູ້ເລີຍ <!-- I don't know -->
            </button>
        </ion-list>

    </ion-card>

    <div class="symbol" [hidden]="timeLeft != 0">
        <ion-icon name="checkmark" [hidden]="!correct" class="correct"></ion-icon>
        <ion-icon name="close" [hidden]="correct" class="wrong"></ion-icon>
    </div>

</ion-content>