.quiz {
    .subheader {
        border-color: #0c60ee;
        background-color: $secondary;
        color: #fff;
        padding: 1rem;

        .question {
            font-size: 1.8rem;
            margin-bottom: 1.0rem;
        }

        .time-is-running-out {
            color: #f53d3d;
            font-weight: bold;
        }
    }
}