.level-menu {

    .subheader {
        font-family: 'Times New Roman' 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .selected {
        color: #FFF;
        background-color: $secondary;
    }

    .locked {
        background-color: #e8e8e8;
    }

    .time-button {
        font-size: 1.3rem;
        text-align: center;
        padding: 2px;
    }

    .question-counter {
        font-size: 1.2rem;
    }

    .play-button {
        margin-top: 2rem;
        background-color: $primary;
        color: #FFF;
    }
}
