<ion-header>
    <ion-navbar>
        <ion-title>{{ difficulty }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="level-menu" padding>

    <ion-card>
        <span class="subheader">LEVEL SELECTION</span>
        <ion-list *ngFor="let level of levels">
            <button ion-item (click)="selectLevel(level.number)"
                    [class.level-selected]="level.selected">
                <ion-row>
                    Level {{ level.number }}
                </ion-row>
                <ion-row class="question-counter">
                    {{ level.correctQuestions }} / {{ level.totalQuestions }}
                </ion-row>
            </button>
        </ion-list>
    </ion-card>

    <div [hidden]="!isLevelSelected">
        <ion-card>
            <span class="subheader">TIME PER QUESTION</span>
            <ion-row>
                <ion-col width-33 *ngFor="let choice of timeChoices">
                    <button ion-item (click)="selectTime(choice.time)"
                            [class.level-selected]="choice.selected">
                        {{ choice.time }}s
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card>
            <span class="subheader">WORDS SELECTION</span>
            <ion-list>
                <button ion-item (click)="goToQuiz(true)">
                    All words
                </button>
                <button ion-item (click)="goToQuiz(false)">
                    Only non-remembered words
                </button>
            </ion-list>
        </ion-card>
    </div>

</ion-content>