.level-menu {

    .subheader {
        font-family: 'Times New Roman' 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .level-selected {
        color: #FFF;
        background-color: $secondary;
    }

    .question-counter {
        font-size: 1.2rem;
    }
}
